<!doctype html>
<html lang="en">
  <head>
    <title>Blank Form</title>
  </head>
  <body>
    <form id="form_id" name="form_name" action="" method="POST">
      <p>
	<label for="select_id">Exists</label>
	<select id="select_id" name="select">
	  <option></option>
	  <option>Option Exists</option>
	</select>
      </p>

    </form>
  </body>
</html>
