<!doctype html>
<html lang="en">
  <head>
    <title>Form</title>
  </head>
  <body>
    <form id="form_id" name="form_name" action="" method="POST">
      <p>
	<label for="field_by_label_id">Field by Label</label>
	<input type="text" id="field_by_label_id" name="field_by_label">
      </p>
      <p>
	<label for="field_by_name_id">Field by Name</label>
	<input type="text" id="field_by_name_id" name="field_by_name">
      </p>
      <p>
	<label for="field_by_id_id">Field by ID</label>
	<input type="text" id="field_by_id_id" name="field_by_id">
      </p>
      <p>
	<label for="password_by_label_id">Password by Label</label>
	<input type="password" id="password_by_label_id" name="password_by_label">
      </p>
      <p>
	<label for="text_area_by_label_id">Text Area by Label</label>
	<input type="text" id="text_area_by_label_id" name="text_area_by_label">
      </p>
      <p>
	<label for="select_by_name_id">Select by Name</label>
	<select id="select_by_name_id" name="select_by_name">
	  <option></option>
	  <option>Option One</option>
	  <option>Option Two</option>
	  <option>Option Three</option>
	</select>
      </p>
      <p>
	<label>Radio Button by Name</label>
	<label for="radio_button_one_id">Radio Button One</label>
	<input type="radio" id="radio_button_one_id"
	       name="radio_button" value="Radio Button One Chosen">
	<label for="radio_button_two_id">Radio Button Two</label>
	<input type="radio" id="radio_button_two_id" name="radio_button" value="Radio Button Two Chosen" checked>
      </p>

      <p>
	<input type="submit" value="Submit">
      </p>
    </form>
  </body>
</html>
