<!doctype html>
<html lang="en">
  <head>
  </head>
  <title></title>
</head>
<body>
  <table id="table">
    <tr>
      <th>Column One</th>
      <th>Column Two</th>
    </tr>
    <tr>
      <td>One</td>
      <td>Two</td>
    </tr>
    <tr>
      <td>Three</td>
      <td>Four</td>
    </tr>
</body>
</html>

