<!doctype html>
<html lang="en">
  <head>
    <title>Form</title>
  </head>
  <body>
    <form id="form_id" name="form_name" action="" method="POST"
	  enctype="multipart/form-data">
      <p>
	<label for="upload_id">File</label>
	<input type="file" id="upload_id" name="upload">
      </p>
      <p>
	<input type="submit" value="Submit">
      </p>
    </form>
  </body>
</html>
